body {
    padding-top: 95px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 40px;
    border-bottom: 1px solid #222f3e;
    margin-bottom: 30px;
}

.header-logo {
    height: 50px;
}

.banner {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-color: #5f27cd;
    color: #fff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    text-transform: uppercase;
}

.button {
    position: fixed;
    display: block;    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;    
    opacity: 0.95;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #1dd1a1;
    cursor: pointer;
}

p {
    margin-bottom: 20px;
}